asn1crypto==0.24.0
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
cryptography==2.1.4
idna==2.6
keyring==10.6.0
keyrings.alt==3.0
lxml==4.6.2
numpy==1.19.5
pandas==1.1.5
Pillow==8.1.0
pycodestyle==2.6.0
pycparser==2.20
pycrypto==2.6.1
python-dateutil==2.8.1
python-docx==0.8.10
pytz==2021.1
pyxdg==0.25
requests==2.25.1
SecretStorage==2.3.1
six==1.11.0
urllib3==1.26.3
